<!-- templates/customers.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cinema-app</title>
</head>
<body>
	<h1>
	    Hello, World!
	</h1>
	<table id="customers">
		<thead>
			<tr>
    			<th>id</th>
    			<th>First name</th>
    			<th>Last Name</th>
				<th>Middle Name</th>
  			</tr>
		</thead>
		<tbody>
		{% for customer in customers %}
		<tr>
			<td><a href="/api/customers/{{ customer.customer_id }}">{{ customer.customer_id }}</a></td>
			<td><a href="/api/customers/{{ customer.customer_id }}">{{ customer.first_name }}</a></td>
			<td><a href="/api/customers/{{ customer.customer_id }}">{{ customer.last_name }}</a></td>
			<td><a href="/api/customers/{{ customer.customer_id }}">{{ customer.middle_name }}</a></td>
		</tr>
    	{% endfor %}
		</tbody>
    </table>
</body>
</html>