<!-- templates/customer.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Editing data</title>
</head>
<body>
	<h1>
	    Edit data '{{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}'
	</h1>
	<h1>
		<input type="text" id="first_name" name="first_name" value="{{ customer.first_name }}">
		<input type="text" id="middle_name" name="middle_name" value="{{ customer.middle_name }}">
		<input type="text" id="last_name" name="last_name" value="{{ customer.last_name }}">
		<form action="" method="POST">
			<input type="submit" value="Submit">
		</form>
	</h1>
</body>
</html>