<!-- templates/filmsession.html -->

{% extends 'base.html' %}

{% block title %}Editing data{% endblock %}

{% block header %}
<h1>Edit data 'Session No {{ session.session_id }}'</h1>
{% endblock %}

{% block content %}
<table id="sessionN{{ session.session_id }}">
	<thead>
		<tr>
			<th>No</th>
			<th>name</th>
			<th>datetime</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ session.session_id }}</td>
			<td>{{ session.film.name }}</td>
			<td>{{ session.date }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}
