<!-- templates/films.html -->

{% extends 'base.html' %}

{% block title %}Cinema-app{% endblock %}

{% block header %}
<h1>Films</h1>
{% endblock %}

{% block content %}
<table id="films">
	<thead>
	<tr>
		<th>id</th>
		<th>name</th>
	</tr>
	</thead>
	<tbody>
	{% for film in films %}
		<tr>
			<td><a href="/films/{{ film.film_id }}">{{ film.film_id }}</a></td>
            <td><a href="/films/{{ film.film_id }}">{{ film.name }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
    </table>
{% endblock %}
