<!-- templates/filmsessions.html -->

{% extends 'base.html' %}

{% block title %}Cinema-app{% endblock %}

{% block header %}
<h1>Sessions</h1>
{% endblock %}

{% block content %}
<table id="sessions">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>datetime</th>
		</tr>
	</thead>
	<tbody>
	{% for session in sessions %}
		<tr>
			<td><a href="/filmsessions/{{ session.session_id }}">{{ session.session_id }}</a></td>
			<td><a href="/filmsessions/{{ session.session_id }}">{{ session.film.name }}</a></td>
			<td><a href="/filmsessions/{{ session.session_id }}">{{ session.date }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}