<!-- templates/filmsession.html -->

{% extends 'base.html' %}

{% block title %}Editing data{% endblock %}

{% block header %}
<h1>Edit data 'Session No {{ session.session_id }}'</h1>
{% endblock %}

{% block content %}
<form action="" method="POST">
	<input type="text" id="id" name="session_id" value="{{ session.session_id }}">
	<input type="text" id="name" name="name" value="{{ session.film.name }}">
	<input type="datetime-local" id="date" name="date" value="{{ session.date }}">
	<input type="submit" value="Submit">
</form>
{% endblock %}
